In [101]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [102]:
df_players = pd.read_csv('WorldCupPlayers.csv')
df_players.tail()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN

In [103]:
df_players['Event'].value_counts()

Event
OH46'              247
IH46'              206
Y1'                 87
I77'                78
I78'                78
                  ...
Y58' G59' G81'       1
P4'                  1
Y1' Y49' RSY49'      1
G18' G84'            1
G60' O83'            1
Name: count, Length: 1893, dtype: int64

G=Goal, OG=Own Goal, Y=Yellow Card, R=Red Card, SY = Red Card by second yellow, P=Penalty, MP=Missed Penalty, I = Substitution In, O=Substitute Out

In [104]:
df_players['Position'].unique()

array(['GK', nan, 'C', 'GKC'], dtype=object)

In [105]:
print("### Informações Originais de WorldCupPlayers.csv ###")
print(f"Número de linhas antes da limpeza: {len(df_players)}")
print(df_players.isnull().sum())

### Informações Originais de WorldCupPlayers.csv ###
Número de linhas antes da limpeza: 37784
RoundID              0
MatchID              0
Team Initials        0
Coach Name           0
Line-up              0
Shirt Number         0
Player Name          0
Position         33641
Event            28715
dtype: int64

In [106]:
# 2. Remover linhas onde o nome do jogador está faltando
df_players.dropna(subset=['Player Name'], inplace=True)

In [107]:
# Preencher os valores NaN na coluna 'Event'
#   Isso é crucial! Substituímos NaN por 'No Event' para maior clareza.
df_players['Event'].fillna('No Event', inplace=True)

C:\Users\Davi\AppData\Local\Temp\ipykernel_24648\2371492196.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_players['Event'].fillna('No Event', inplace=True)

In [108]:
print("\n### Informações Após a Limpeza ###")
print(f"Número de linhas após a limpeza: {len(df_players)}")
print(df_players.isnull().sum())
print("\nExemplo de eventos após preencher NaN:")
print(df_players['Event'].head(10))

### Informações Após a Limpeza ###
Número de linhas após a limpeza: 37784
RoundID              0
MatchID              0
Team Initials        0
Coach Name           0
Line-up              0
Shirt Number         0
Player Name          0
Position         33641
Event                0
dtype: int64

Exemplo de eventos após preencher NaN:
0     No Event
1     No Event
2         G40'
3         G70'
4     No Event
5     No Event
6    G43' G87'
7     No Event
8     No Event
9     No Event
Name: Event, dtype: object

In [109]:
df_players['Goal'] = df_players['Event'].str.contains('G')
df_players['Yellow Card'] = df_players['Event'].str.contains('Y')
df_players['Red Card'] = df_players['Event'].str.contains('R')

In [110]:
print("\n### Tabela Enriquecida com Novas Colunas (Últimas Linhas) ###")
# Mostrando apenas as colunas relevantes para vermos o resultado
print(df_players[['Player Name', 'Event', 'Goal', 'Yellow Card', 'Red Card']].tail(10))

### Tabela Enriquecida com Novas Colunas (Últimas Linhas) ###
        Player Name       Event   Goal  Yellow Card  Red Card
37774          DURM    No Event  False        False     False
37775  F. FERNANDEZ    No Event  False        False     False
37776   MERTESACKER       I120'  False        False     False
37777       PALACIO        I78'  False        False     False
37778         G�TZE  I88' G113'   True        False     False
37779       ALVAREZ    No Event  False        False     False
37780       KHEDIRA    No Event  False        False     False
37781        AGUERO  IH46' Y65'  False         True     False
37782       MUSTAFI    No Event  False        False     False
37783       BASANTA    No Event  False        False     False