In [1]:
import pandas as pd

In [3]:
df_cups = pd.read_csv('WorldCups.csv')
df_cups.tail()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [7]:
df_cups.dtypes

Year               int64
Country           object
Winner            object
Runners-Up        object
Third             object
Fourth            object
GoalsScored        int64
QualifiedTeams     int64
MatchesPlayed      int64
Attendance         int32
dtype: object

In [ ]:
 # --- 2. PADRONIZANDO NOMES DE PAÍSES ---
    # Substituímos 'Germany FR' por 'Germany' em todas as colunas onde ele possa aparecer
df_cups.replace('Germany FR', 'Germany', inplace=True)
print("Nomes de países padronizados.")

    # --- 3. TRATAMENTO DA COLUNA 'Attendance' ---
    # Removemos os pontos e depois convertemos a coluna para um tipo numérico (inteiro)
df_cups['Attendance'] = df_cups['Attendance'].str.replace('.', '', regex=False).astype(int)
print("Coluna 'Attendance' convertida para número.")

Nomes de países padronizados.
Coluna 'Attendance' convertida para número.

In [8]:
 # --- 4. VERIFICAÇÃO FINAL ---
print("\nTratamento completo! Amostra do DataFrame final:")
print(df_cups.head())
print("\nVerificando os tipos das colunas após o tratamento:")
df_cups.info()

Tratamento completo! Amostra do DataFrame final:
   Year      Country   Winner      Runners-Up    Third      Fourth  \
0  1930      Uruguay  Uruguay       Argentina      USA  Yugoslavia
1  1934        Italy    Italy  Czechoslovakia  Germany     Austria
2  1938       France    Italy         Hungary   Brazil      Sweden
3  1950       Brazil  Uruguay          Brazil   Sweden       Spain
4  1954  Switzerland  Germany         Hungary  Austria     Uruguay

   GoalsScored  QualifiedTeams  MatchesPlayed  Attendance
0           70              13             18      590549
1           70              16             17      363000
2           84              15             18      375700
3           88              13             22     1045246
4          140              16             26      768607

Verificando os tipos das colunas após o tratamento:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            20 non-null     int64
 1   Country         20 non-null     object
 2   Winner          20 non-null     object
 3   Runners-Up      20 non-null     object
 4   Third           20 non-null     object
 5   Fourth          20 non-null     object
 6   GoalsScored     20 non-null     int64
 7   QualifiedTeams  20 non-null     int64
 8   MatchesPlayed   20 non-null     int64
 9   Attendance      20 non-null     int32
dtypes: int32(1), int64(4), object(5)
memory usage: 1.6+ KB

In [9]:
df_cups.to_csv('WorldCups_tratado.csv', index=False)